<ion-content [fullscreen]="true">
  <ion-searchbar
    animated="true"
    placeholder="Search TV Maze"
    [debounce]="500"
    (ionInput)="search($event)"
  ></ion-searchbar>
  @if (searchResult$ | async; as shows) {
    <ion-grid [fixed]="true">
      <ion-row class="ion-justify-content-center">
        @for (show of shows; track show.show.id) {
          <ion-col size="6" size-md="4" size-lg="2">
            <app-show-item [show]="show.show"></app-show-item>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }
</ion-content>
