@import "src/theme/mixins.scss";

:host {
  display: block;
}

.container {
  max-height: 80vh;
  overflow: hidden;
  position: relative;

  img {
    width: 100vw;
  }

  .info {
    @include highlight-info;
  }
}

ion-button {
  width: 100%;
}

ion-badge {
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 20px;
}

.content {
  padding: 0 20px 20px;
  line-height: 1.4;
}
